.gradient-left {
    background-color: white;
    -webkit-mask-image: -webkit-gradient(linear, left top, right top, 
    from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}

.gradient-right {
    background-color: white;
    -webkit-mask-image: -webkit-gradient(linear, left top, right top, 
    from(rgba(0,0,0,0)), to(rgba(0,0,0,1)));
}
